body, html {
    margin: 0;
    padding: 0;
    background: white;
}
img {
    position: fixed;
    top: 0;
    max-height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clock {
    font-size: 160px;
    color: white;
    letter-spacing: -5px;
    text-shadow: 0 10px 15px rgba(0,0,0,0.3);
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}