html, body {
  background-color: #222;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.holder {
  align-items: center;
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.clock {
  text-shadow: 0 10px 15px rgba(0,0,0,0.3);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 15vw;
  color: white;
  flex: 1;
}